<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MyConnectionStrings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MyConnectionStrings>
    <add key="NORTHWND" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Stef\Documents\GitHub\MyDbUtils\NORTHWND.MDF;Integrated Security=True;Connect Timeout=30" />
  </MyConnectionStrings>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0,Profile=Client" version="v4.0" />
  </startup>
</configuration>